.login-form
{
    margin: auto;
    width: 30%;
}
.login-content{
    margin: auto;
    width: 100%;
}
.login-content h2{
    font-size: 3rem;
    margin-top: 10px;
    color: #3f5540;
    font-weight: 400;
}
.login-card{
    color: #3f5540;
    width: 80%;
    text-align: center;
    /* margin: auto; */
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.login-card h1{
    padding: 20px;
    font-size: 1.25rem;
    text-align: center;
    margin: 0px 0px 32px;
    font-weight: 600;
}
.input{
        /* background: right -10px center #fff; */
        background-size: 20px;
        width: 80%;
        margin: auto;
        border: 1px solid #c9cbd4;
        border-radius: 6px;
        color: #3f4450;
        font-weight: 500;
        /* outline: 0; */
        padding: 9px 8px 7px;
        margin-bottom: 20px;
        display: block;
        transition: all .2s;
        /* cursor: text; */
        /* position: relative; */
        height: 40px;
        /* box-sizing: border-box; */
}
.btn-red{
    text-align: center;
    background: #e91c1c;
    color: #fff;
    margin: auto;
    width: 80%;
    background-size: 20px;
    text-decoration: none;
    list-style-type: none;
    padding: 12px 24px 10px;
    font-size: 18px;

}




